@import '../../css/w3';

.editor-parent {
    flex-basis: 40%;    
    overflow: hidden;
    min-height: 80vh;
    button {
        display: block;
    }
    @extend .w3-padding;
    .ql-container , .ql-editor {
        min-height: 500px; 
    }
}