$header-color: #04396b;


.icon {
    font-family: 'Material Icons Outlined';
}
.pt-sans {
    font-family: 'PT Sans';
}

.pt-sans-narrow {
    font-family: 'PT Sans Narrow';
}

.pt-sans-caption {
    font-family: 'PT Sans Caption';
}

.cursive {
    font-family: 'Qwitcher Grypen';
}