@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|PT+Sans+Caption|Qwitcher+Grypen|Material+Icons+Outlined&display=swap?ver=1.0');

html,
body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

.main-page-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
